services:
  db:
    image: postgres:14
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5434:5432"  
    networks:
      - my_network

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - .:/code
      - ./logs:/code/logs  # Add this line
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - db
    mem_limit: 8g
    networks:
      - my_network

networks:
  my_network:
    driver: bridge
