{% extends "layouts/base.html" %}

{% block title %} Brief Analyser {% endblock title %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">

        <div class="row">

        <h1> Brief Analyser </h1>

        </div>
      
    </div>



    <div class="row">

    <!-- Upload a brief to extract important information and find similar judgements to help you save time looking out. -->

    <p> Upload a brief to extract important information and find similar judgements to help you save time looking out. </p>

   
    </div>


    <div class="row">


         <!-- Brief Analyser either by URL or by File -->
    </div>
</div>

{% endblock content %}