{% extends "layouts/base.html" %}

{% block title %} Generate Legal Docs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">

    <div class="row">

        <h1> Generate Legal Docs </h1>
        <p> Generate legal documents such as contracts, agreements, and more. </p>

    </div>


    <div class="row">


        <p> 1. Select a legal document from the dropdown menu. </p>

        <p> 2. Fill in the required fields. </p>

        <p> 3. Click the "Generate" button. </p>

        <p> 4. Download the generated legal document. </p>


    </div>




    <div class="row">


        <!-- Summarise Legal Documents interface -->









  

   
    </div>
</div>

{% endblock content %}