{% extends "layouts/base.html" %}

{% block title %} Judgement Analyser {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">
    <div class="row">
        <div class="col-md-12">
            <h1> Judgement Analyser </h1>
        </div>
    </div>

    </div>



    <div class="row">

        <!-- Generate headnotes, arguments, reasoning, cited laws, cited judgements using AI-based judgement analysis tools. -->

        <p> Generate headnotes, arguments, reasoning, cited laws, cited judgements using AI-based judgement analysis tools. </p>



   
    </div>


    <div class="row">


        

    
   
    </div>
</div>

{% endblock content %}