{% extends "layouts/base.html" %}

{% block title %} Judgement Analyser {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">
        <div class="dropdown">
            <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                New Task
            </button>
        </div>
    </div>



    <div class="row">

        <!-- Generate headnotes, arguments, reasoning, cited laws, cited judgements using AI-based judgement analysis tools. -->

        <p> Generate headnotes, arguments, reasoning, cited laws, cited judgements using AI-based judgement analysis tools. </p>



   
    </div>


    <div class="row">


        

    
   
    </div>
</div>

{% endblock content %}