{% extends "layouts/base.html" %}

{% block title %} Summarise Legal Docs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">

    <div class="row">

        <p> Summarise Legal Documents </p>


    </div>

    </div>


    <div class="row">

        <h2> How to use Summarise Legal Documents </h2>

        <p>  Summarise legal documents in a few simple steps.  </p>

        <p> 1. Upload your legal document. </p>

        <p> 2. Select the number of sentences you want to summarise your document to. </p>

        <p> 3. Click the summarise button. </p>

        <p> 4. Download your summary. </p>



        
    </div>




    <div class="row">


   
    </div>
</div>

{% endblock content %}