{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}
  <!-- Specific Page CSS goes HERE -->
{% endblock stylesheets %}

{% block content %}

<div class="container mt-2" style="min-height: 100vh; background-color: #f8f9fa;">
    <h2 class="mb-4"> List of Courts {{ unit_rank.name }} -  FY {{  financial_year.name }} - FQ {{ financial_quarter.name }} </h2>

    <!-- table to list to list  units . units context variable is passed from views.py -->

    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Unit Name</th>
                <th scope="col">FY Statistics</th>
                <th scope="col">Quarter Statistics</th>
                <th scope="col">Monthly Statistics</th>
            </tr>
        </thead>
        <tbody>
            {% for court in units %}
            <tr>
                <td>{{ court.name }}</td>

                <td>
                    <!--statistics:unit_division_fy-->
                    <a href="{% url 'statistics:unit_division_fy' unit_rank.id financial_year.id financial_quarter.id court.id court.id  %}" class="btn btn-sm btn-outline-primary"> Go to FY Statistics </a>
                </td>

                <td>
                    <!--statistics:unit_division_quarters-->
                    <a href="{% url 'statistics:unit_division_quarters' unit_rank.id financial_year.id financial_quarter.id court.id court.id  %}" class="btn btn-sm btn-outline-primary"> Go to Quarter Statistics </a>
                 </td>
                <td>
                    <!--statistics:unit_division_months-->
                    <a href="{% url 'statistics:unit_division_months' unit_rank.id financial_year.id financial_quarter.id court.id court.id  %}" class="btn btn-sm btn-outline-primary"> Go to Monthly Statistics </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>





    






</div>

{% endblock content %}
