{% extends "layouts/base.html" %}

{% block title %} List of Months {% endblock %}

{% block stylesheets %}
  <!-- Specific Page CSS goes HERE -->
  <style>
    /* Add your custom styles here */
  </style>
{% endblock stylesheets %}

{% block content %}

<div class="container mt-2" style="min-height: 100vh; background-color: #f8f9fa;">
    <h2 class="mb-4">List of Months</h2>

    <h3> {{ unit.name }} </h3>

   <h3> {{ unit_rank.name }} -  FY {{  financial_year.name }} - {{ financial_quarter.name }} </h3>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

    <!-- table of  months in a year  from context -->

                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Month</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for month in months %}
                                <tr>
                                    <td>{{ month.name }}</td>
                                    <td>
                                        <!-- upload_unit_monthly_dcrt_excel -->
                                        <a href="{% url 'statistics:upload_unit_monthly_dcrt_excel' unit_rank.id financial_year.id financial_quarter.id unit.id division.id month.id %}" class="btn btn-sm btn-primary">Upload Monthly DCRT Excel</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
    
  
      
  
  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
