{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create {{ item_type }} from Memo{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Create {{ item_type }} for Memo: {{ memo.title }}</h6>
                </div>
                <div class="card-body px-0 pb-2">
                    <form method="post" action="{{ action_url }}" class="px-4">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary mt-3">Create {{ item_type }}</button>
                        <a href="{% url 'memos:memo_detail' memo.pk %}" class="btn btn-secondary mt-3">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}